[Unit]
Description=oracle_api
After=default.target

[Service]
ExecStart=/home/lightecho-stellar-oracle/lightecho-stellar-oracle/oracle-onchain/api/server.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
